[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment MAT_ZO_24_bit.wavMAT_ZO_24_bit.wav1.4 MB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=2956f83f9d&attid=0.1&permmsgid=msg-a:r8279190533117378839&th=16ed1cbf062dc223&view=att&disp=safe&realattid=f_k3ritngu0
Icon=text-html
